@import './variaveis';

body {
    font-family: $fonte-poppins;
    background-color: $primary-background-color;
    transition: background-color .3s;
}

.largura-site{
    max-width: 1200px;
    width: 100%;
    margin: auto;
}
.largura-site-wide{
    max-width: 1440px;
    width: 100%;
    margin: auto;
}